<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | WatchGalleria</title>
    <link rel="icon" href="/images/logo.png" type="website icon">
<link rel="stylesheet" href="/css/dashboard.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include('adminDashboardSidebar') %>
    <section class="main-body">
        <div class="container-fluid text-center">
            <p class="fs-1 fw-bold">
                Welcome to the Admin Dashboard
            </p>
            <p class="fs-4">Here is an overall summary of Website </p>
            <div class="container">
                <div class="row">
                    <div class="card col-lg-6 col-md-6 col-sm-12" >
                        <div class="card-body">
                          <h5 class="card-title">Unread Contacts</h5>
                          <p class="card-text"><%=totalContacts%></p>
                        </div>
                      </div>
                      <div class="card col-lg-6 col-md-6 col-sm-12" >
                        <div class="card-body">
                          <h5 class="card-title">Total Activity</h5>
                          <p class="card-text"><%=totalActivity%></p>
                        </div>
                      </div>
<!--                      
                      <div class="card col-lg-4 col-md-6 col-sm-12" >
                        <div class="card-body">
                          <h5 class="card-title">Total Product</h5>
                         
                        </div>
                      </div> -->
                </div>
                <div class="row">
                    
                      
                </div>
            </div>
           </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <script src="/scripts/dashboard.js"></script>
</body>
</html>