<!-- Sidebar Partial: adminDashboardSidebar.ejs -->
<div class="d-flex">
  <!-- Sidebar -->
  <nav class="sidebar fixed-sidebar d-none d-lg-flex flex-column p-3 shadow">
    <div class="text-center mb-4">
      <i class="fa-solid fa-gears fs-1 mb-3"></i>
    </div>
    
    <a href="/setting" class="sidebar-link"><i class="fa-solid fa-sliders"></i> Site Setting</a>
    <a href="/addActivity" class="sidebar-link"><i class="fa-solid fa-square-plus me-2"></i>Add Activity</a>
    <a href="/viewActivity" class="sidebar-link"><i class="fa-solid fa-user-shield me-2"></i>Activity Management</a>
    <a href="/viewAccount" class="sidebar-link"><i class="fa-solid fa-gear me-2"></i>Account Info</a>
    <a href="/contacts" class="sidebar-link"><i class="fa-solid fa-address-card me-2"></i>View Contacts</a>
    <a href="/logout" class="sidebar-link"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
  </nav>

  <!-- Mobile Toggle -->
  <nav class="navbar navbar-light bg-light d-lg-none w-100">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminSidebarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse" id="adminSidebarMenu">
      <div class="bg-white p-3">
        
    <a href="/setting" class="sidebar-link"><i class="fa-solid fa-sliders"></i> Site Setting</a>
        <a href="/addActivity" class="sidebar-link d-block mb-2"><i class="fa-solid fa-square-plus me-2"></i>Add Activity</a>
        <a href="/viewActivity" class="sidebar-link d-block mb-2"><i class="fa-solid fa-user-shield me-2"></i>Activity Management</a>
        <a href="/viewAccount" class="sidebar-link d-block mb-2"><i class="fa-solid fa-gear me-2"></i>Account Info</a>
        <a href="/contacts" class="sidebar-link d-block mb-2"><i class="fa-solid fa-address-card me-2"></i>View Contacts</a>
        <a href="/logout" class="sidebar-link d-block"><i class="fa-solid fa-right-from-bracket me-2"></i>Logout</a>
      </div>
    </div>
  </nav>
</div>
