*{
    padding: 0;
    margin: 0;
}
.logo{
    height: 70px;
    width: 65px;
}
/* .sidebar{
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex; 
     flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgba(42, 180, 244, 255);
} */

a{
    text-decoration: none;
    /* color: rgba(42, 180, 244, 255) !important; */
}
a:hover, .v_name{
    color: #DCAB27 ;
}
.active{
    font-weight: bolder !important;
    color: #DCAB27 !important;
}
.custom-border{
    border-right: 2px solid black;
}
.fixed-sidebar {
    position: fixed; /* Fix the sidebar */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    height: 100vh; /* Make the sidebar take full height */
    width: 180px; /* Set the width as needed */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center vertically */
    align-items: flex-start;/* Center horizontally */
    background-color: #fff; /* Optional: background color */
    padding: 20px; /* Optional: padding around the content */
}

.sidebar {
    display: flex;
    flex-direction: column; /* Keep links stacked vertically */
    align-items: flex-start; /* Center links horizontally */
    width: 100%; /* Full width of the sidebar */
}

.sidebar-link {
    margin-bottom: 10px; /* Gap between links */
    color: black !important; /* Default link color */
}

.sidebar-link:last-child {
    margin-bottom: 0; /* No gap for the last link */
}
.main-body{
    padding-left: 190px;
}
@media screen and (max-width:991px) {
    .main-body{
        padding-left: 0px;
    }
}